In [1]:
import pandas as pd
import yfinance as yf
import os

In [2]:
# Parameters
start_date     = '1990-01-01'
end_date       = '2022-02-28'
data_interval  = "1d"

# Create a directory where to save .csv files
if not os.path.exists('./index_prices'):
    os.makedirs('./index_prices')


# Download S&P 500 Price Data
sp500_hist = yf.download('^GSPC', start = start_date, end = end_date , data_interval = "1d")
sp500_hist.to_csv('./index_prices/SP500.csv', index=True)

# Download NASDAQ Price Data
nasdaq_hist = yf.download('^IXIC', start = start_date, end = end_date , data_interval = "1d")
nasdaq_hist.to_csv('./index_prices/NASDAQ.csv', index=True)

# Download CAC40 Price Data
cac40_hist = yf.download('^GSPC', start = start_date, end = end_date , data_interval = "1d")
cac40_hist.to_csv('./index_prices/CAC40.csv', index=True)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
sp500_hist

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1990-01-02,353.399994,359.690002,351.980011,359.690002,359.690002,162070000
1990-01-03,359.690002,360.589996,357.890015,358.760010,358.760010,192330000
1990-01-04,358.760010,358.760010,352.890015,355.670013,355.670013,177000000
1990-01-05,355.670013,355.670013,351.350006,352.200012,352.200012,158530000
1990-01-08,352.200012,354.239990,350.540009,353.790009,353.790009,140110000
...,...,...,...,...,...,...
2022-02-18,4384.569824,4394.600098,4327.220215,4348.870117,4348.870117,3871340000
2022-02-22,4332.740234,4362.120117,4267.109863,4304.759766,4304.759766,4007780000
2022-02-23,4324.930176,4341.509766,4221.509766,4225.500000,4225.500000,3814340000
2022-02-24,4155.770020,4294.729980,4114.649902,4288.700195,4288.700195,5070560000
2022-02-25,4298.379883,4385.339844,4286.830078,4384.649902,4384.649902,3941780000